* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

/* Navbar */
.navbar {
  margin: 3% 10%;
}
.navbar a {
  text-decoration: none;
  padding: 0px 20px;
  color: hsl(229, 31%, 21%);
  letter-spacing: 1px;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Rubik", sans-serif;
}
.navbar a:hover {
  color: hsl(0, 94%, 66%);
}
.main-nav button {
  text-transform: uppercase;
  background-color: hsl(0, 94%, 66%);
  color: white;
  padding: 7px 25px;
  font-size: 14px;
  margin-left: 10px;
  box-shadow: 1px 2px 5px hsl(228, 4%, 76%);
}
.main-nav button:hover {
  color: hsl(0, 94%, 66%);
  background-color: white;
  border-color: hsl(0, 94%, 66%);
}

.off {
  display: none;
}
@media (max-width: 800px) {
  .off {
    display: block;
  }
  header {
    display: none;
  }
  .navbar {
    margin: 2% 5%;
  }
}

.offcanvas .offcanvas-header .btn-close {
  filter: brightness(0) invert(1);
}
.offcanvas-header img {
  filter: brightness(0) invert(1);
}
.offcanvas {
  background-color: hsl(229, 31%, 21%, 0.9);
}
.offcanvas .navbar-nav .nav-link {
  color: white;
  font-size: 18px;
}

.offcanvas .navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: white;
  font-size: 18px;
}
.offcanvas .submit {
  color: white;
  border: 2px solid;
  border-color: white;
  font-weight: bold;
  padding: 10px 120px;
}
.offcanvas .submit:hover {
  color: black;
  background-color: white;
}
.offcanvas hr {
  color: rgb(255, 255, 255, 0.8);
}
.offcanvas .social {
  margin: 40px auto;
}
.offcanvas .social img {
  padding: 20px;
}

/* Hero section */
section {
  width: 100%;
  position: relative;
}
/* .hero {
  margin: 5% 9%;
} */
.hero-text {
  width: 500px;
  margin-left: 150px;
}
.hero p {
  color: hsl(229, 8%, 60%);
}

.hero h1 {
  font-weight: 700;
  color: hsl(229, 31%, 21%);
}
.hero-img {
  width: 100%;
  margin-right: 40px;
}
.image-section {
  position: relative;
}
.intro__image-pattern {
  width: 82%;
  padding-top: 53%;
  background: hsl(231, 69%, 60%);
  position: absolute;
  z-index: -1;
  bottom: 0rem;
  right: 0;
  border-radius: 20rem 0 0 20rem;
}
.btn1 {
  background-color: hsl(231, 69%, 60%);
  color: white;
  margin: 2px;
  padding: 8px 20px;
  box-shadow: 1px 2px 5px hsl(228, 4%, 76%);
}
.btn1:hover {
  border-color: hsl(231, 69%, 60%);
  color: hsl(231, 69%, 60%);
  background-color: white;
}
.btn2 {
  background-color: hsl(230, 11%, 89%);
  margin: 2px;
  padding: 8px 20px;
  color: hsl(229, 31%, 21%);
  box-shadow: 1px 2px 5px hsl(228, 4%, 76%);
}
.btn2:hover {
  border-color: hsl(229, 31%, 21%);
  color: hsl(229, 31%, 21%);
  background-color: white;
}
@media (max-width: 800px) {
  .hero {
    /* margin: 8% 9%; */
    flex-wrap: wrap-reverse;
  }
  .hero-text {
    margin: 10px;
  }
  .hero-img {
    margin-right: 0px;
  }

  .btn1 {
    margin: 1px;
    padding: 8px 10px;
  }
  .btn2 {
    margin: 1px;
    padding: 8px 10px;
  }
  .hero-text {
    align-items: center;
    text-align: center;
  }
}

/* --------------Features------------ */

.features .heading,
.extensions .heading {
  text-align: center;
  width: 550px;
}

.features-title {
  color: hsl(229, 31%, 21%);
  font-weight: 700;
}
.features-body {
  color: hsl(229, 8%, 60%);
}
.features .nav {
  justify-content: center;
  border: none;
  margin-top: 40px;
}
.nav-tabs .nav-link {
  padding: 10px 40px;
}

.nav-tabs .nav-link {
  border: none;
  color: hsl(229, 31%, 21%);
}

.nav-tabs .nav-link.active {
  border-bottom: 4px solid hsl(0, 94%, 66%);
  color: black;
}
.features .nav {
  border-bottom: 1px solid hsl(230, 11%, 89%);
}
.features .nav button:hover {
  color: hsl(0, 94%, 66%);
}

/* TAb1 */
.image-section {
  position: relative;
}
.tab1 p {
  color: hsl(229, 8%, 60%);
}
.tab1 h2 {
  font-weight: 700;
}
.tab1-img {
  width: 100%;
}
.tab1-text {
  width: 500px;
}

.tab1_image-pattern {
  width: 82%;
  padding-top: 53%;
  background: hsl(231, 69%, 60%);
  /* margin-right: 1000px; */
  position: absolute;
  z-index: -1;
  bottom: 0rem;
  left: 0;
  border-radius: 0rem 20rem 20rem 0rem;
}
@media (max-width: 800px) {
  .tab1 {
    flex-wrap: wrap;
  }

  .tab1-text {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .features .heading {
    width: 280px;
  }
}

/* -----------Extensions----------------- */
.card-in {
  margin: 20px;
  box-shadow: 4px 4px 15px hsl(220, 6%, 90%);
  height: 300px;
  width: 230px;
  border-radius: 8px;
}

.card-in h3 {
  color: hsl(229, 31%, 21%);
  font-weight: 700;
}
.card-in p {
  color: hsl(229, 8%, 60%);
}
.card-in .btnss {
  background-color: hsl(231, 69%, 60%);
  color: white;
  border: none;
  padding: 10px 15px;
  box-shadow: 1px 2px 5px hsl(228, 4%, 76%);
  border-radius: 3px;
}
.card-in .btnss:hover {
  border: 2px solid hsl(231, 69%, 60%);
  background-color: white;
  color: hsl(231, 69%, 60%);
  /*  */
}
.card-in .dots {
  padding-bottom: 10px;
}
.card2 {
  margin-top: 47px;
}
.card3 {
  margin-top: 80px;
}

@media (max-width: 800px) {
  .cardss {
    flex-wrap: wrap;
  }
  .extensions .heading {
    width: 280px;
  }
  .card-in {
    width: 250px;
  }
  .card2 {
    margin-top: 0px;
  }
  .card3 {
    margin-top: 0px;
  }
}

/* --------------Accordions---------------- */
.accordion-flush .accordion-item .accordion-button {
  border-radius: 0;
  width: 600px;
}
.accordion-body {
  padding: 1rem 1.25rem;
  width: 600px;
}
.accordion-button:not(.collapsed) {
  color: hsl(0, 94%, 66%);
  background-color: white;
  box-shadow: none;
}
.accordion-button:focus {
  z-index: 3;
  border: none;
  outline: 0;
  box-shadow: none;
}

@media (max-width: 800px) {
  .accordion-flush .accordion-item .accordion-button {
    width: 320px;
    font-size: 15px;
  }
  .accordion-body {
    width: 320px;
  }
}

/* Footer-1 */
.footer1 {
  background-color: hsl(231, 69%, 60%);
  padding: 45px;
  color: white;
}
.footer1 div {
  padding: 10px;
}
.r1 {
  letter-spacing: 5px;
}
.r2 {
  width: 500px;
  text-align: center;
}
.footer1 input {
  padding: 10px 30px;
  border: none;
}
.footer1-btn {
  text-transform: uppercase;
  background-color: hsl(0, 94%, 66%);
  color: white;
  padding: 10px 30px;
  font-size: 14px;
}
.footer1-btn:hover {
  color: hsl(0, 94%, 66%);
  background-color: white;
  border-color: hsl(0, 94%, 66%);
  border: 2px solid;
}
.footer1 {
  margin-top: 100px;
}
@media (max-width: 800px) {
  .r2 {
    width: 300px;
  }
  .r1 {
    font-size: 10px;
    letter-spacing: 4px;
  }
  .r3 {
    flex-direction: column;
  }
  .footer1-btn {
    width: 100%;
  }
}

/* -----footer--2---------- */
.footer2 {
  background-color: hsl(229, 31%, 21%);
  padding: 10px;
}
.footer2 a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}
.footer2 .bookmark-f {
  filter: brightness(0) invert(1);
  padding: 10px 20px;
}
.footer2 a:hover {
  color: hsl(0, 94%, 66%);
}
.footer2 .soc {
  padding: 10px 20px;
}
.footer2 .links {
  text-transform: uppercase;
}
.footer-social img :hover {
  color: hsl(0, 94%, 66%);
}
@media (max-width: 800px) {
  .footer2 {
    flex-direction: column;
    align-items: center;
  }
  .footer2 .links {
    flex-direction: column;
    align-items: center;
  }
  .bookmark-f {
    width: 200px;
    height: 47px;
  }
}
